* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.toDoSection {
    background: #6A381F;
    height: 100vh;
    width: 20rem;
    border-right: #DCAB6B 0.2rem solid;
}

.toDoSection p {
    justify-content: center;
    background: #6E0D25;
    padding: 0.4rem;
}

.calendar {
    background: #6E0D25;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
}

.month {
    justify-content: center;
    background: #6A381F;
    height: 4rem;
    width: 100vw;
    align-items: center;
    margin-bottom: 1rem;
}

.days {
    flex-wrap: wrap;
    justify-content: center;
}

.day {
    background: #FFFFB3;
    border: #DCAB6B 0.2rem solid;
    margin: 0.2rem;
    height: 10rem;
    width: 10rem;
}